<h1>Index</h1>

<div class = "row">
	<div class = "col-md-12">

	<%= link_to("new activity" , new_activity_path) %>
	
	<ul>
	<% @activities.each do |activity|%>

	<li>
		<p>title: <%= activity.title%></p>
		<p>image : <%= image_tag activity.image.url %></p>
		<p>category: <%= activity.category%></p>
		<p>location: <%= activity.location%></p>		
		<p>date: <%= activity.date%></p>
		<p>priority: <%= activity.priority%></p>
		<p>content: <%= activity.content%></p>

		<%= link_to 'Show' , admin_activity_path(activity) , class: 'btn brn-primary btn-lg'%>
		<%= link_to 'Edit' , edit_admin_activity_path(activity) , class: 'btn brn-primary btn-lg'%>
		<%= link_to 'Delete' , admin_activity_path(activity) , method: :delete , class: 'btn brn-primary btn-lg'%>


	</li>
	<% end%>
	</ul>

	</div>
</div>